<!DOCTYPE html>
<html lang="en">

<head>
  <!--Stylesheets-->
  <link rel="stylesheet" href="../static/css/fontawesome.css">
  <link rel="stylesheet" href="../static/css/iconfont/material-icons.css">
  <link rel="stylesheet" href="../static/css/materialize.css">
  <link rel="stylesheet" href="../static/css/style.css">


  <title>Travel Zimbabwe</title>
</head>

<body id="home" class="scrollspy">
  <div class="navbar-fixed">
    <nav class="teal">
      <div class="container">
        <div class="nav-wrapper">
          <a href="#home" class="brand-logo">Travel</a>
          <a href="#" data-target="mobile-nav" class="sidenav-trigger">
            <i class="material-icons">menu</i>
          </a>
          <ul class="right hide-on-med-and-down">
            <li>
              <a href="#home">Home</a>
            </li>
            <li>
              <a href="#search">Search</a>
            </li>
            <li>
              <a href="#popular">Popular</a>
            </li>
            <li>
              <a href="#gallery">Gallery</a>
            </li>
            <li>
              <a href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>

  <ul class="sidenav" id="mobile-nav">
    <li>
      <a href="#home">Home</a>
    </li>
    <li>
      <a href="#search">Search</a>
    </li>
    <li>
      <a href="#popular">Popular</a>
    </li>
    <li>
      <a href="#gallery">Gallery</a>
    </li>
    <li>
      <a href="#contact">Contact</a>
    </li>
  </ul>

  <!--Sections : Sliders -->
  <section class="slider">
    <ul class="slides">
      <li>
        <img src="../static/img/maxresdefault (1).jpg">
        <div class="caption center-align">
          <h2> Take Your Dream Vacation </h2>
          <h5 class="light grey-text text-lighten-3 hide-on-small-only">Visit the Changa Resort, Zambezi</h5>
          <a href="#" class="btn btn-large">Learn More</a>
        </div>
      </li>
      <li>
        <img src="../static/img/maxresdefault (2).jpg">
        <div class="caption left-align">
          <h2>Be In A Place You Can Enjoy Sunrise And Sunset</h2>
          <h5 class="light grey-text text-lighten-3 hide-on-small-only">Visit Birchenough Bridge, Chipinge</h5>
          <a href="#" class="btn btn-large">Learn More</a>
        </div>
      </li>
      <li>
        <img src="../static/img/rainbowvictoriafalls_slider_img_3.jpg">
        <div class="caption left-align">
          <h2>The World Is A Beautiful Place To And Needs To Be Discovered</h2>
          <h5 class="light grey-text text-lighten-3 hide-on-small-only">Visit Victoria Falls Town</h5>
          <a href="#" class="btn btn-large">Learn More</a>
        </div>
      </li>
    </ul>
  </section>

  <!-- Sections : Search -->
  <section id="search" class="section section-search teal darken-1 white-text center scrollspy">
    <div class="container">
      <div class="row">
        <div class="col s12">
          <h3>Search Destinations</h3>
          <div class="input-field">
            <input type="text" class="white grey-text autocomplete" id="autocomplete-input" placeholder="Victoria Falls, Zanzibar, etc ...">
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Sections : Icon Boxes -->
  <section class="section section-icons grey lighten-4 center">
    <div class="container">
      <div class="row">
        <div class="col s12 m4">
          <div class="card-panel">
            <i class="material-icons large teal-text">room</i>
            <h4>Best Locations</h4>
            <p>The most majestic scenery.</p>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="card-panel">
            <i class="material-icons large teal-text">restaurant</i>
            <h4>Food Culture</h4>
            <p>Indigenous cultural experience</p>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="card-panel">
            <i class="material-icons large teal-text">airplanemode_active</i>
            <h4>Cheap Flights</h4>
            <p>Affordable travel fees</p>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- Sections : Popular Section -->
  <section id="popular" class="section section-popular scrollspy">
    <div class="container">
      <div class="row">
        <h4 class="center">
          <span class="teal-text">Popular</span> Places</h4>
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="../static/img/maxresdefault.jpg">
              <span class="card-title grey-text text-lighten-3">
                <b>Victoria Falls Hotel</b>
              </span>
            </div>
            <div class="card-content">
              <p>Enjoy your stay at Victoria Falls Hotel.
              </p>
            </div>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="../static/img/holiday-inn-harare-144706.jpg">
              <span class="card-title black-text text-lighten-3">
                <b>Holiday Inn Hotel</b>
              </span>
            </div>
            <div class="card-content">
              <p>Enjoy your stay in the capital at Holiday Inn.
              </p>
            </div>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="../static/img/rainbow-beitbridge-hotel-3.jpg">
              <span class="card-title grey-text text-lighten-3">
                <b>Rainbow Towers Hotel</b>
              </span>
            </div>
            <div class="card-content">
              <p>Enjoy the ultra spa experience at Rainbow Hotel.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 center">
          <a href="#contact" class="btn btn-large grey darken-4">
            <i class="material-icons left">send</i>Contact For Booking</a>
        </div>
      </div>
    </div>
  </section>

  <!-- Sections : Follow -->
  <section class="section section-follow teal darken-2 white-text">
    <div class="container">
      <div class="row">
        <div class="col s12 center">
          <h4>Follow Travel</h4>
          <p>Follow Us On Social Media For Special Offers</p>
          <a href="https//facebook.com" target="_blank">
            <img src="../static/img/Facebook_100px.png" class="circle">
          </a>
          <a href="https//instagram.com" target="_blank">
            <img src="../static/img/Instagram_100px.png" class="circle">
          </a>
          <a href="https//linkedin.com" target="_blank">
            <img src="../static/img/LinkedIn_100px.png" class="circle">
          </a>
          <a href="https//googleplus.com" target="_blank">
            <img src="../static/img/Google Plus_100px.png" class="circle">
          </a>
          <a href="https//twitter.com" target="_blank">
            <img src="../static/img/Twitter_100px.png" class="circle">
          </a>
          <a href="https//pinterest.com" target="_blank">
            <img src="../static/img/Pinterest_100px.png" class="circle">
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- Sections : Photo Gallery -->
  <section id="gallery" class="section section-gallery scrollspy">
    <div class="container">
      <h4 class="center">
        <span class="teal-text">Photo</span> Gallery</h4>
      <div class="row">
        <div class="col s12 m4">
          <img class="materialboxed responsive-img" src="../static/img/resort1.jpg?beach">
        </div>
        <div class="col s12 m4">
          <img class="materialboxed responsive-img" src="../static/img/resort2.jpg?sands">
        </div>
        <div class="col s12 m4">
          <img class="materialboxed responsive-img" src="../static/img/resort3.jpg?resort">
        </div>
      </div>
      <div class="row">
        <div class="col s12 m4">
          <img class="materialboxed responsive-img" src="../static/img/img2.jpg">
        </div>
        <div class="col s12 m4">
          <img class="materialboxed responsive-img" src="../static/img/chinhoyi-caves-zimbabwe.jpg">
        </div>
        <div class="col s12 m4">
          <img class="materialboxed responsive-img" src="../static/img/holiday-inn-harare-144706.jpg">
        </div>
      </div>
      <div class="row">
        <div class="col s12 m4">
          <img class="materialboxed responsive-img" src="../static/img/rainbowvictoriafalls_slider_img_3.jpg">
        </div>
        <div class="col s12 m4">
          <img class="materialboxed responsive-img" src="../static/img/maxresdefault (2).jpg">
        </div>
        <div class="col s12 m4">
          <img class="materialboxed responsive-img" src="../static/img/maxresdefault.jpg">
        </div>
      </div>
    </div>
  </section>

  <!-- Sections : Contact -->
  <section id="contact" class="section section-contact scrollspy">
    <div class="container">
      <div class="row">
        <div class="col s12 m6">
          <div class="card-panel teal white-text center">
            <i class="material-icons medium">email</i>
            <h5>Contact Us For Booking</h5>
          </div>
          <ul class="collection with-header">
            <li class="collection-header">
              <h4>Location</h4>
            </li>
            <li class="collection-item">Travel Agency</li>
            <li class="collection-item">47 Castens Avenue</li>
            <li class="collection-item">Belvedere, Harare</li>
            <li class="collection-item">+263 78 362 0957</li>
          </ul>
        </div>
        <div class="col s12 m6">
          <div class="card-panel grey lighten-3">
            <h5>Please Fill Out This Form</h5>
            <div class="input-field">
              <input type="text" placeholder="Name" id="name">
              <label for="name">Name</label>
            </div>
            <div class="input-field">
              <input type="email" placeholder="Email" id="email">
              <label for="email">Email</label>
            </div>
            <div class="input-field">
              <input type="text" placeholder="Phone" id="phone">
              <label for="phone">Phone</label>
            </div>
            <div class="input-field">
              <textarea class="materialize-textarea" placeholder="Leave Message" id="message"></textarea>
              <label for="message">Message</label>
            </div>
            <input type="submit" class="btn btn-large">
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Sections : Footer -->
  <footer class="section teal darken-2 white-text center">
    <p class="flow-text">Travel &copy; 2018 </p>
  </footer>
  <!--Scripts-->
  <script src="../static/js/jquery-2.1.1.js"></script>
  <script src="../static/js/typed.js"></script>
  <script src="../static/js/Chart.js"></script>
  <script src="../static/js/materialize.js"></script>
  <script>
    M.AutoInit();
  </script>
  <script>

    //Init Slider
    $('.slider').slider({
      indicators: false,
      height: 500,
      transition: 500,
      interval: 6000
    });

    //Autocomplete
    $('.autocomplete').autocomplete({
      data: {
        "VicFalls": null,
        "Harare": null,
        "Hwange": null,
        "Nyanga": null,
        "Zambezi": null
      }
    });
  </script>
</body>

</html>